name: Build and Deploy
on: 
  push:
    brances:
      - main
permissions:
  contents: write
jobs:
  build:
    runs-on: windows-latest # The first job utilizes windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install and Build  # This example project is built using npm and outputs the result to the 'build' folder. Replace with the commands required to build your project, or remove this step entirely if your site is pre-built.
        run: |
          npm install
          npm run build

      - name: Upload Artifacts # The project is then uploaded as an artifact named 'site'.
        uses: actions/upload-artifact@v1
        with:
          name: site
          path: dist

  deploy:
    concurrency: ci-${{ github.ref }}
    needs: [dist] # The second job must depend on the first one to complete before running and uses ubuntu-latest instead of windows.
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download Artifacts  # The built project is downloaded into the 'site' folder.
        uses: actions/download-artifact@v1
        with:
          name: site

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: 'site'
          branch: gh-pages